/* Global Variables  */
.App {
  --mwi-gold: #DEBF79;
  --mwi-dark-gray: #222222;
  --mwi-mid-gray: #858585;
  --mwi-light-gray: #F5F5F5;
  --mwi-red: #800000;

  font-family: 'Poppins', sans-serif;
}

BODY { font-size: 62.5% }

.mwi-background {
  background-color: var(--mwi-dark-gray);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.mwi-container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 4.8em;
}

h2 {
  font-size: 3.6em;
}