/* Global Variables  */
.App {
  --mwi-gold: #DEBF79;
  --mwi-dark-gray: #222222;
  --mwi-mid-gray: #858585;
  --mwi-light-gray: hsl(0, 0%, 96%);
  --mwi-red: #800000;

  font-family: 'Poppins', sans-serif;
}

.mwi-background {
  background-color: var(--mwi-dark-gray);
  min-height: 100vh;
}

.mwi-container {
  width: 90%;
  margin: 0 auto;
}