/* Global Variables  */
.App {
  --mwi-gold: #DEBF79;
  --mwi-dark-gray: #222222;
  --mwi-mid-gray: #858585;
  --mwi-light-gray: #F5F5F5;
  --mwi-red: #800000;

  font-family: 'Poppins', sans-serif;
}

BODY { font-size: 62.5% }

::-webkit-scrollbar {
  display: none;
}

button:hover {
  cursor: pointer;
}

.black-background {
  background: var(--mwi-dark-gray);
  background-size: cover;
  overflow: hidden;
}

.mwi-container {
  width: 100%;
  min-height: calc(100vh - 173px);
  margin: 0 auto;
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

.page-content {
  padding: 173px 0 0 0;
  min-height: calc(100vh - 173px);
}

h1 {
  font-size: 4.8em;
}

h2 {
  font-size: 3.6em;
}

.contact-container {
  display: flex;
}

.contact-content {
  padding: 173px 0 0 0;
  min-height: calc(100vh);
  flex: 1 1 0;
}

.white-background {
  background: white;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}