.ccs-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

@media (max-width: 1200px) {
    .ccs-container {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .ccs-container {
        flex-direction: column;
    }
}