.card-callout {
    background-color: white;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between; /* come back to this */

    margin: 0 1em;
    padding: 2.5em;

    /* fix this later */
    min-height: 30em;
}

.card-icon-container {
    height: 11em;
    display: flex;
    align-items: center;
}

.card-text-container {
    margin: auto 0;
    text-align: left;
}

.card-text-container > p {
    font-size: 1.4em;
    color: var(--mwi-mid-gray);
    padding-bottom: 1.5em;
}

.fill-button {
    background-color: var(--mwi-gold);
    color: white;
    border: none;

    padding: 1.2em 2.5em;

    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
}

.fill-button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .card-callout {
    background-color: white;
    border-radius: 3px;

    display: flex;
    align-items: center;
    max-width: calc(50% - 8em);

    margin: 1.5em;
    padding: 2.5em;

    /* fix this later */
    min-height: 30em;
    }
}

@media (max-width: 800px) {
    .card-callout {
    background-color: white;
    border-radius: 3px;

    display: flex;
    align-items: center;
    max-width: 90%;
    width: 100%;

    margin: 1.5em auto;
    padding: 2.5em;

    /* fix this later */
    min-height: 30em;
    }
}