.card-callout {
    background-color: white;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between; /* come back to this */

    margin: 0 15px;
    padding: 25px;

    /* fix this later */
    min-height: 300px;
}

.card-icon-container {
    height: 110px;
    display: flex;
    align-items: center;
}

.card-text-container {
    text-align: left;
    width: 100%;
}

.card-button {
    background-color: var(--mwi-gold);
    color: white;
    border: none;

    padding: 12px 25px;

    font-family: 'Poppins', sans-serif;
    font-size: .8em;
}