.contact-form {
    flex: 1 1 0;
    margin: auto 0;
}

#contact-heading {
    width: 90%;
    margin: 1em auto;
}

.form-content {
    margin: auto auto;
    width: 90%;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.form-row {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    gap: 2.5em;
}

.row-item {
    flex: 1 1 0;
    padding: 1em;
    color: var(--mwi-mid-gray);
    background-color: var(--mwi-light-gray);
    border: none;

    font-family: 'Poppins', sans-serif;
}

#message-box {
    display: block;
    min-height: 13.5em;
    resize: none;
}

#required-text {
    position: absolute;
    color: var(--mwi-red);
    right: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

@media (max-width: 500px) {
    .form-row {
        flex-direction: column;
    }
}