.contact-form {
    flex: 1 1 0;
}

#contact-heading {
    width: 90%;
    margin: 1em auto;
}

.form-content {
    margin: auto auto;
    width: 90%;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.form-row {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    gap: 2.5em;
}

.row-item {
    flex: 1 1 0;
    padding: 1em;
    color: var(--mwi-mid-gray);
    background-color: var(--mwi-light-gray);
    border: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#message-box {
    display: block;
    min-height: 13.5em;
    resize: none;
}

#required-fname-text {
    padding-top: 12px;
    position: absolute;
    right: 440px;
    color: var(--mwi-red);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

#required-text-right {
    padding-top: 12px;
    position: absolute;
    color: var(--mwi-red);
    right: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

@media (max-width: 1920px) {
    #required-fname-text {
        right: 500px;
    }
}

@media (max-width: 1440px) {
    #required-fname-text {
        right: 390px;
    }
}

@media (max-width: 1250px) {
    #required-fname-text {
        right: 340px;
    }
}

@media (min-width: 1080px) {
    .contact-form {
        margin-top: calc((100vh - 178px - 212px)/2)
    }
}

@media (max-width: 1080px) {
    #required-fname-text {
        right: 560px;
    }
    #required-text-right {
        right: 65px;
    }
}

@media (max-width: 1080px) {
    #required-fname-text {
        right: 560px;
    }
    #required-text-right {
        right: 65px;
    }
}

@media (max-width: 900px) {
    #required-fname-text {
        right: 480px;
    }
}

@media (max-width: 720px) {
    #required-fname-text {
        right: 390px;
    }
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }

    #required-fname-text {
        right: 40px;
    }

    #required-text-right {
        right: 40px;
        padding-top: 85px;
    }
}