.mwi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 3em 0;
  }
  
  .contact-link {
    color: var(--mwi-gold);
    background: transparent;
    border: none;
  
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
  }