.mwi-header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  
    padding: 5em 0;

    position: absolute;
    top: 0;
    left: 2.5vw;
  }
  
  .contact-link {
    color: var(--mwi-gold);
    background: transparent;
    border: none;
  
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    text-align: right;
  }

  @media (min-width: 1440px) {
    .mwi-header {
      left: calc((100% - 1250px)/2);
      width: 100%;
      max-width: 1250px;
    }
  }

  @media (max-width: 600px) {
    .mwi-header {
      position: relative;
      left: 0;
    }

    .mwi-header > a > img {
      width: 60%;
    }
  }