h1 {
    color: white;
    text-align: left;
}

.gilded {
    border-bottom: 4px solid var(--mwi-gold);
}

p {
    color: white;
    font-size: 1.6em;
}

.puzzle-button {
    background: transparent;
    color: var(--mwi-gold);
    border: none;
    font-size: 1em;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.puzzle-button:hover {
    cursor: pointer;
}

#result-list {
    color: white;
    font-size: 1.2em;
}