.puzzle-section > h1 {
    color: white;
    text-align: left;
}

.gilded {
    /* text-decoration: underline; */
    /* text-decoration-color: var(--mwi-gold); */

    border-bottom: 5px solid var(--mwi-gold);
    line-height: 10px;
}

.puzzle-section > p {
    color: white;
}